$background: #fff;
$color-dark-gray: #333;
$color-white: #fff;
$white: #fff;
$primary: #ba0001;
// $primary: black;
$sans: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$serif: Volkorn, serif;
